<header>
   <img src="assets/img/lucas.jpg" 
      alt="Lucas Batista - Foto de perfil" 
      width="130px"
      height="130px"
      loading="eager "
   />
   <h1>Lucas Batista</h1>
</header>

<aside>
   <div class="container">
      <p>Desenvolvedor Full-Stack | Java | Angular | Spring </p>
      <p>Bambuí, Minas Gerais, Brasil</p>
      <p>
         Graduando em engenharia de computação, apaixonado por tecnologia e desenvolvimento de software. 
         Atualmente trabalho como desenvolvedor full-stack com as tecnologias Java com Spring e Angular na empresa Find Soluções.
      </p>

      <nav>
         <ul>
            <li>
               <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                  Download CV
               </a>
            </li>

            <li>
               <a href="https://www.linkedin.com/in/lucas-bt/" target="_blank" class="btn btn-primary">
                  Linkedin
               </a>
            </li>
         </ul>
      </nav>

      <section>  
         <figure>
           <img
             src="assets/icons/mail.svg"
             alt="Ícone para contato do e-mail"
             width="22px"
             height="24px"
           />
   
           <figcaption>
             <a href="mailto:lucas.bt46@gmail.com" target="_blank">
               <strong>Envie uma e-mail para:</strong>
               <p>lucas.bt46&#64;gmail.com</p>
             </a>
           </figcaption>
         </figure>
       </section>
   </div>
</aside>